.issue__label
{
    font-size: 12px;

    display: inline-block;

    margin-right: 10px;
    margin-bottom: 5px;
    padding: 0 5px;

    vertical-align: middle;

    opacity: .8;
    border: 1px solid;
    border-radius: 3px;

    &:hover
    {
        text-decoration: none;

        opacity: 1;
        color: $color-link;
    }
}
