.forum-create .forum-create__view
{
    display: none;

    width: 100%;
    margin-top: 10px;

    img
    {
        max-width: 100%;
    }

    textarea
    {
        resize: vertical;
        min-height: 150px;
    }
}
