.forum-create__view
{
    min-height: 150px;
    margin-top: 10px;
    width: 100%;
    display: none!important;

    &.forum-create__view_visible
    {
        display: inline-block!important;
    }

    &.forum-create__view_type_preview
    {
        box-sizing: border-box;
        border: 1px solid #ccc;
    }

}
