.comment__body
{
    padding-bottom: 15px;

    border-bottom: 1px solid $color-grey;

    :link
    {
        text-decoration: underline;
    }

    p:last-child
    {
        margin-bottom: 0;
    }

    img
    {
        max-width: 100%;
    }
}
