.menu-item
{
    &_size_m
    {
        padding-right: 38px;
    }

    &__color
    {
        position: absolute;
        top: 4px;
        right: 4px;

        width: 16px;
        height: 16px;

        border-radius: 3px;
    }
}
