.forum-footer
{
    border-top: 2px solid $color-grey;
    padding: 5px 15px;
    display: flex;
    justify-content: flex-end;
    text-align: right;

    &__item
    {
        margin-right: 10px;
    }

    &__link:link,
    &__link:visited
    {
        color: $color-link-blue;
    }
}
