libs/
node_modules/
.DS_Store
.idea
.project
.svn
.enb/tmp

configs/common/credentials.json
configs/development/credentials.json
configs/production/credentials.json
configs/current

*.bundles/*/*.*
!*.bundles/*/*.bemdecl.js

archive.json
npm-debug.log

.githooks
.jshint-groups.js
.jscsrc
