.icon_view
{
    &_comments
    {
        background-image: url('icon_view_comments.svg');
    }

    &_forum
    {
        background-image: url('icon_view_forum.svg');
    }

    &_more
    {
        background-image: url('icon_view_more.svg');
    }

    &_quote
    {
        background-image: url('icon_view_quote.svg');
    }

    &_logo
    {
        background-image: url('icon_view_logo.svg');
    }

    &_read-only
    {
        background-image: url('icon_view_read-only.svg');
    }

    &_avatar-default
    {
        background-image: url('icon_view_avatar-default.svg');
    }

    &_bug
    {
        background-image: url('icon_view_bug.svg');
    }

    &_source-code
    {
        background-image: url('icon_view_source-code.svg');
    }

    &_markdown
    {
        background-image: url('icon_view_markdown.svg');
    }

    &_preview
    {
        background-image: url('icon_view_preview.svg');
    }

    &_label
    {
        background-image: url('icon_view_label.svg');
    }
}
