$color-grey = #e1e1e1;
$color-grey-light = #f6f5f3;
$color-grey-dark = #999;
$color-grey-yandex = #e5e5e5;
$color-background = #fff;
$color-link = #000;
$color-link-hover = #d14;
$color-yellow = #fedb4a;

$avatar-size-main = 60px;
$avatar-size-small = 40px;

$input-padding = 5px;
$z-index = 999;
