.forum-header_view_auth
{
    align-items: center;

    .forum-user
    {
        margin-left: auto;

        &__avatar,
        &__name
        {
            display: inline-block;

            margin-left: 10px;

            vertical-align: middle;
        }

        &__avatar
        {
            width: 40px;
        }
    }
}
