.forum-header_view_auth
{
    align-items: center;

    .forum-user
    {
        margin-left: auto;
    }

    .forum-user__avatar,
    .forum-user__name
    {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }

    .forum-user__avatar
    {
        width: 40px;
    }
}
