.forum
{
    font-size: 14px;
    line-height: 1.7;

    height: 100%;

    :link,
    :visited
    {
        transition: opacity .15s ease-out;

        color: $color-link;
    }

    :link:hover,
    :visited:hover
    {
        opacity: .5;
    }

    .link
    {
        cursor: pointer;
    }
    
    blockquote
    {
        position: relative;
    
        margin: 0 0 15px 0;
        padding: 11px 15px 19px 45px;
    
        border-radius: 3px;
        background: $color-grey-light;
    
        &:before
        {
            position: absolute;
            top: 10px;
            left: 10px;
    
            display: inline-block;
    
            width: 25px;
            height: 25px;
    
            content: '';
    
            opacity: .2;
            background-size: 25px;
            background-repeat: no-repeat;
            background-position: 50%;
    
            @extend .icon_view_quote;
        }
    
        p
        {
            margin-top: 0;
    
            color: #999;
        }
    }
}

hr
{
    height: 4px;
    margin: 15px 0;
    padding: 0;

    color: #ccc;
    border: 0 none;
    background: url('hr.png') repeat-x 0 0;
}
