.forum
{
    font-size: 14px;
    line-height: 1.7;

    height: 100%;

    :link,
    :visited
    {
        transition: opacity .15s ease-out;

        color: $color-link;
    }

    :link:hover,
    :visited:hover
    {
        opacity: .5;
    }

    .link
    {
        cursor: pointer;
    }
}

hr
{
    height: 4px;
    margin: 15px 0;
    padding: 0;

    color: #ccc;
    border: 0 none;
    background: url('hr.png') repeat-x 0 0;
}
