.forum-header__github-button.button
{
    margin-left: 10px;

    .icon_view_github-logo
    {
        width: 63px;
        height: 18px;
        margin: 0 5px;

        background-position: 7px 1px;
        background-size: 50px auto;
    }
}
