.forum-header__archive
{
    display: none;
    background: $color-yellow;
    margin-left: 10px;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 5px;
    border-radius: 2px;

    &_show
    {
        display: block;
    }
}
