.forum-content
{
    &__archive
    {
        display: none;
        margin-top: 50px;
        padding: 20px 0 20px 95px;
        background-color: #ffefab;

        &_show
        {
            display: block;
        }
    }

    &__archive-text
    {
        margin-bottom: 10px;
    }
}
