.comments
{
    position: relative;

    margin-top: 20px;

    &::before
    {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 100px;

        display: block;

        width: 1px;

        content: '';

        background-color: $color-grey;
    }
}
