.forum-line
{
    display: flex;

    &_valign
    {
        &_baseline
        {
            width: 100%;

            align-items: baseline;
        }

        &_top
        {
            align-items: flex-start;
        }

        &_stretch
        {
            align-items: stretch;
        }

        &_middle
        {
            width: 100%;

            align-items: center;
        }
    }
}
