$size = 18px;

.forum-header__bug-button.button
{
    margin-left: 10px;

    .icon_view_bug
    {
        width: $size;
        height: $size;
        margin: 0 5px;

        background-size: $size;
    }
}
