.issue
{
    overflow-x: hidden;
    min-width: 500px;
    margin-bottom: 40px;
    padding: 0 15px;

    box-sizing: padding-box;

    &:last-child
    {
        margin-bottom: 10px;
    }

    &__wrap
    {
        transition: all .5s ease;

        .forum-column
        {
            &_side_left
            {
                max-width: $avatar-size-main;
            }

            &_side_right
            {
                padding-left: 20px;

                box-sizing: padding-box;
            }
        }
    }
}
