.forum-create .forum-create__view_type_preview
{
    box-sizing: border-box;
    border: 1px solid $color-grey-yandex;
    background-color: #f5f5f5;
    padding: 5px 20px;

    /* Fix stylus compile
     * github.com/LearnBoost/stylus/issues/1848
     */
    code
    {
        background-color: $color-grey-yandex;
    }

    blockquote
    {
        background-color: $color-grey-yandex;
    }
}
