.issue__line_level
{
    &_top .column_side_right
    {
        border-bottom: 1px solid $color-grey;
    }

    &_titles
    {
        margin-bottom: 10px;
    }

    &_bottom
    {
        position: relative;
        padding-bottom: 15px;

        border-bottom: 1px solid $color-grey;
    }
}
