.forum-labels_inline
{
    padding-bottom: 15px;

    text-align: center;

    border-bottom: 1px solid $color-grey;

    .forum-labels
    {
        &__wrap
        {
            text-align: left;
        }

        &__label
        {
            display: inline-block;

            width: 150px;
            margin-right: 20px;
        }
    }
}
